* {
    padding: 0;
    margin: 0;
    border-style: border-box;
    font-size: 28px;
    color: white;
    background-color: black;
}

.ships {
    height: 50vh;
    margin: 50px;
    display: grid;
    text-align: center;
    grid: auto / repeat(40, 1fr);
    gap: 2px;

    > div:first-child {
        grid-column: span 40;
    }

    > div:nth-child(n+2):nth-child(-n+6) {
        grid-column: span 8;
    }

    > div:nth-child(n+7):nth-child(-n+14) {
        grid-column: span 5;
    }

    &__mother {
        width: 200px;
    }

    &__explosion {
        width: 150px;
    }

    &__defence {
        width: 100px;
    }

    &__attack {
        width: 70px;
    }

}

.button {
    height: 30vh;
    position: relative;

    &__fire-button {
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 50px;
        width: 200px;
        background-color: red;
        border-radius: 10px;
        font-weight: bold;
    }
}